*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-box{
    width: 380px;
    height: 400px;
    border: 2px solid;
    position: relative; 
    margin: 100px auto;
}
.o1{
   position: absolute;
   width: 100px;
   height: 100px; 
   border: 5px solid rgb(31, 2, 59);
}
.o2{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid rgb(224, 205, 243);
    left: 50%;
    transform: translate(-50%);
}
.o3{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid rgba(121, 8, 6, 0.726); 
    right: 0;
}
.o4{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid rgb(155, 133, 176);
    top: 50%;
    transform: translate(0,-50%);
}
.o5{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid rgb(160, 220, 48);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.o6{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid rgb(43, 180, 225);
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}
.o7{
    position: absolute;
    width: 100px;
    height: 100px; 
    border: 5px solid rgb(21, 160, 61);
    bottom: 0;
    left: 0;
}
.o8{
    position: absolute;
    width: 100px;
    height: 100px; 
    border: 5px solid rgb(175, 113, 37); 
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
} 
.o9{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid rgb(197, 27, 55);
    bottom: 0;
    right: 0;
}